
body {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinha os elementos à esquerda */
}

table:first-child {
    margin-bottom: 20px;
    width: auto; /* Ajusta a largura ao conteúdo */
}

table:last-child {
    width: 100%; /* A segunda tabela ocupa a largura total */
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 6px;
    text-align: center;
    font-size: 14px;
}

th {
    background-color: #ff0000;
}

img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

th[colspan="2"] {
    text-align: center;
}

th[colspan="3"] {
    text-align: center;
}
